body {
  margin: 0; 
  padding: 0;
  background:#6678C1;
 
}
.demo-slideshow{
  position: relative;
  display: block;
  overflow: hidden;
}

figure{
  position: absolute;
  opacity: 0;
  transition: 1s opacity;
  max-width:400px;
  max-height:299px;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
}

}
figcaption{
  position: relative;
  font-family: sans-serif;
  font-size: 3em;
  margin: 0 auto;
  color: white; 
}

figure.show{
  opacity: 1;
  position: static;
  transition: 1s opacity;
}
.next, .prev{
  color: #fff;
  position: relative;
  background: rgba(0,0,0, .6);
  top: 50%;
  z-index: 1;
  font-size: 2em;
  margin-left: 10%;
  opacity: .3;
  user-select: none;
}
.next:hover, .prev:hover{
  cursor: pointer;
  opacity: 1;
}
.next{
  right: 0;
  padding: 10px 5px 15px 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.prev{
  left: 0;
  padding: 10px 10px 15px 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}


p{
  font-size:1.5em;
  font-weight: 500;
  color: #fff;
  margin-left: 11%;
}
a{color:#fff;}